```gitignore id="y1evrj"
# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# Entornos virtuales
.venv/
venv/
ven-kafka/

# =========================
# Spark
# =========================
ivy/
.ivy2/
spark-warehouse/
metastore_db/

# =========================
# Resultados generados
# =========================
images/
output_*/
checkpoint_*/
frames_live/
recordings/

# =========================
# Multimedia
# =========================
*.mp4
*.jpg
*.png

# =========================
# Variables sensibles
# =========================
.env

# =========================
# Logs
# =========================
*.log

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Linux
# =========================
.DS_Store
```
